<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example - example-example5-production</title>


    <link rel="stylesheet" href="../../css/bootstrap.css">
    <script src="../../js/jquery.js"></script>
    <script src="../../js/angular.js"></script>
    <script src="app2.js"></script>


</head>
<body ng-app="compile">
<div ng-controller="Ctrl">
    <input ng-model="name"> <br>
    <textarea ng-model="html"></textarea> <br>

    <div compile="html"></div>
</div>
</body>
</html>