*~
*.csv
*ropeproject*
*.png
*.pdf
*.so
*.pyc
*.[oa]
*.out
*.debug
*.cmd
*.symvers
*.ko
*.mod.c
*.order
.tmp_versions
*.files
*.svg
*.log
.idea
jquery/learning_jquery/code/
nodejs/node_modules/
ios/
bootstrap/bootstrap-3.0.0/*
/.DS_Store
.tern-port
.RData
.Rhistory