html {
    margin: 0;
    padding: 0;
}

body {
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(95%, 95%, 80%);
    color: black;
}

h1 {
    font-size: 200%;
    text-transform: lowercase;
    letter-spacing: 3px;
    margin: 0;
    padding: 0.66em 0 0.33em 16%;
    background: rgb(85%, 85%, 70%);
}

h3 {
    font-size: 133%;
    margin: 0;
    padding: 0 0 0 0.5em;
    background: rgb(85%, 85%, 70%);
}

h4 {
    font-size: 100%;
    margin: 0;
    padding: 0.33em 0 0;
    border-bottom: 1px solid rgb(50%, 50%, 33%);
    color: rgb(50%, 50%, 35%);
}

h1, h3, h4 {
    line-height: 1em;
}

div#sitenav {
    float: left;
    margin-top: 2.33em;
    width: 12.5%;
    font-size: 11px;
    background-color: white;
    border: 1px solid black;
}

div#sitenav a {
    display: block;
    padding: 4px 8px;
    margin: 0;
    text-decoration: none;
    text-align: right;
    border-top: 1px solid gray;
}

div#sitenav a:hover {
    background: #FB9;
}

div#sitenav h4 {
    background: rgb(33%, 33%, 33%);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0.25em 0 0.125em 0;
}

p {
    line-height: 1.66;
    margin: 0.5em 3em 1em 3em;
    text-align: justify;
}

div#entry {
    margin: 0 20% 1em 20%;
    padding: 0;
}

/*div#sidebar {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*float: right;*/
    /*width: 25%;*/
/*}*/

div#sidebar {
    margin: 0
    padding: 0;
    float: right;
    width: 25%;
}

div#sidebar h4 {
    background: rgb(70%, 70%, 55%);
    color: black;
    margin: 0;
    padding: 0.25em 0 0 0.5em;
    border-width: 0;
}

div#sidebar a {
    display: block;
    padding: 8px 0 2px 10px;
    margin: 0;
    border-left: 1px solid rgb(70%, 70%, 55%);
}

div#sidebar a:hover {
    background: rgb(85%, 85%, 70%);
}


/*div#entry {*/
    /*background-color: rgb(95%, 85%, 85%);*/
/*}*/
/*div#sidebar{*/
    /*background-color: rgb(85%, 85%, 95%);*/
/*}*/