body {
    background: white url(WidgetCoLogo.gif) center no-repeat;
    color: black;
}

h1 {
    margin-bottom: 0;
    margin-top: 1em;
}

h2 {
    margin: 0 5% 0 7.5%;
    font-size: 120%;
    font-style: italic;
}

p {
    margin-left: 10%;
    margin-right: 10%;
}

p.lead-para:first-letter {
    font-size: 133%;
    font-weight: bold;
}

p#summary {
    font-style: italic;
}

div.release {
    font-variant: small-caps;
    border: 1px solid black;
    margin-right: 10px;
    padding: 0.125em 0;
    text-align: center;
    border-width: 1px 15px 1px 0;
}

div#contact-info {
    text-align: right;
    margin-right: 10px;
    padding-right: 15px;
    border-right: 15px solid #446;
    padding-top: 15px;
    color: #321;
    font-size: 90%;
}

div#contact-info:first-line {
    text-transform: uppercase;
    font-size: 1.111em;
    font-weight: bold;
    margin-right: 10px;
}

div#footer {
    text-align: center;
    margin-top: 2.5em;
    border-top: 1px solid gray;
    color: #aaa;
    font-size: 85%;
    padding-top: 0.33em;
    letter-spacing: 1px;
}

div#footer a:link {
    color: #778;
}

div#footer a:visited {
    color: #878;
}

a.stockinfo {
    font-weight: bold;
    font-style: normal;
    color: blue;
    background: white;
}

a.stockinfo:hover {
    background: blue;
    color: white;
}